<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="pl.lizardproject.qe2015"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FunctionActivity"
            android:label="@string/title_activity_function">
        </activity>
        <activity
            android:name=".FibonacciActivity"
            android:label="@string/title_activity_fibonacci">
        </activity>
        <activity
            android:name=".GcdActivity"
            android:label="@string/title_activity_gcd">
        </activity>
        <activity
            android:name=".LcmActivity"
            android:label="@string/title_activity_lcm">
        </activity>
        <activity
            android:name=".PrimeActivity"
            android:label="@string/title_activity_prime">
        </activity>
        <activity
            android:name=".MaximumActivity"
            android:label="@string/title_activity_minimum">
        </activity>
        <activity
            android:name=".MinimumActivity"
            android:label="@string/title_activity_minimum">
        </activity>
    </application>

</manifest>
